@model IEnumerable<SportsFinder.Models.SportEvent>
<h1>Baseball</h1>

<table>

    <tr>
         
            <img src="~/images/Baseball_Banner.jpg" alt="Package Management" class="img-responsive" />
         
    </tr>

    <tr>

        <br />
        <br />
        The sport that evokes more nostalgia among Americans than any other is baseball. So many people play the game as children (or play its close relative, softball) that it has become known as "the national pastime." It is also a democratic game. Unlike football and basketball, baseball can be played well by people of average height and weight.
        <br />

        Baseball originated before the American Civil War (1861-1865) as rounders, a humble game played on sandlots. Early champions of the game fine-tuned it to include the kind of skills and mental judgment that made cricket respectable in England. In particular, scoring and record-keeping gave baseball gravity. "Today," notes John Thorn in The Baseball Encyclopedia, "baseball without records is inconceivable." More Americans undoubtedly know that Roger Maris's 61 home runs in 1961 broke Babe Ruth's record of 60 in 1927 than that President Ronald Reagan's 525 electoral-college votes in 1984 broke President Franklin Roosevelt's record of 523 in 1936.
        <br />

        In 1871 the first professional baseball league was born. By the beginning of the 20th century, most large cities in the eastern United States had a professional baseball team. The teams were divided into two leagues, the National and American; during the regular season, a team played only against other teams within its league. The most victorious team in each league was said to have won the "pennant;" the two pennant winners met after the end of the regular season in the World Series. The winner of at least four games (out of a possible seven) was the champion for that year. This arrangement still holds today, although the leagues are now subdivided and pennants are decided in post-season playoff series between the winners of each division.
        <br />

        Baseball came of age in the 1920s, when Babe Ruth (1895-1948) led the New York Yankees to several World Series titles and became a national hero on the strength of his home runs (balls that cannot be played because they have been hit out of the field). Over the decades, every team has had its great players. One of the most noteworthy was the Brooklyn Dodgers' Jackie Robinson (1919-1972), a gifted and courageous athlete who became the first African-American player in the major leagues in 1947. (Prior to Robinson, black players had been restricted to the Negro League.)
        <br />

        Starting in the 1950s, baseball expanded its geographical range. Western cities got teams, either by luring them to move from eastern cities or by forming so-called expansion teams with players made available by established teams. Until the 1970s, because of strict contracts, the owners of baseball teams also virtually owned the players; since then, the rules have changed so that players are free, within certain limits, to sell their services to any team. The results have been bidding wars and stars who are paid millions of dollars a year. Disputes between the players' union and the owners have at times halted baseball for months at a time. If baseball is both a sport and a business, late in the 20th century many disgruntled fans view the business side as the dominant one.
        <br />

        It's generally agreed that baseball was introduced in Japan by an American professor in the 1870s and from then until the 1930s, the university baseball leagues dominated Japanese baseball. Professional Japanese baseball began in the 1930s with the formation of the Japan Professional Baseball League. In the 1990s a Japanese player, Hideo Nomo, became a star pitcher for the Los Angeles Dodgers. Baseball is also widely played in Cuba and other Caribbean nations. In the 1996 Olympics, it was a measure of baseball's appeal outside the United States that the contest for the gold medal came down to Japan and Cuba (Cuba won).
        <br />

    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="http://www.charlotte49ers.com/SportSelect.dbml?SPID=44796">Uncc BaseBall Website</a>

    </tr>
</table>


<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplAttendingCount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="SportEvents" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
    }
</table>