@model IEnumerable<SportsFinder.Models.SportEvent>
<h1>Basketball</h1>

 
<table>

    <tr>
        
            <img src="~/images/b-ballbanner1.jpg" alt="Package Management" class="img-responsive" />
        
    </tr>

    <tr>

        <br />
        <br />

        An American game that has traveled well is basketball, now played by more than 250 million people worldwide in an organized fashion, as well as by countless others in "pick-up" games. Basketball originated in 1891 when a future Presbyterian minister named James Naismith (1861-1939) was assigned to teach a physical education class at a Young Men's Christian Association (YMCA) training school in Springfield, Massachusetts. The class had been noted for being disorderly, and Naismith was told to invent a new game to keep the young men occupied. Since it was winter and very cold outside, a game that could be played indoors was desirable.
        <br />
        Naismith thought back to his boyhood in Canada, where he and his friends had played "duck on a rock," which involved trying to knock a large rock off a boulder by throwing smaller rocks at it. He also recalled watching rugby players toss a ball into a box in a gymnasium. He had the idea of nailing up raised boxes into which players would attempt to throw a ball. When boxes couldn't be found, he used peach baskets. According to Alexander Wolff, in his book 100 Years of Hoops, Naismith drew up the rules for the new game in "about an hour." Most of them still apply in some form today.
        <br />

        Basketball caught on because graduates of the YMCA school traveled widely, because Naismith disseminated the rules freely, and because there was a need for a simple game that could be played indoors during winter. Naismith's legacy included the first great college basketball coach, Forrest "Phog" Allen (1885-1974), who played for Naismith at the University of Kansas and went on to win 771 games as a coach at Kansas himself. Among Allen's star players was Wilt Chamberlain, who became one of professional basketball's first superstars -- one night in 1962, he scored a record 100 points in a game.
        <br />

        The first professional basketball league was formed in 1898; players earned $2.50 for home games, $1.25 for games on the road. Not quite 100 years later, Juwan Howard, a star player for the Washington Bullets (now called the Washington Wizards), had competing offers of more than $100 million over seven seasons from the Bullets and the Miami Heat.
        <br />

        Many teams in the National Basketball Association now have foreign players, who return home to represent their native countries during the Olympic Games. The so-called Dream Team, made up of the top American professional basketball players, has represented the United States in recent Olympic Games. In 1996 the Dream Team trailed some opponents until fairly late in the games—an indication of basketball's growing international status. In Athens in 2004 Argentina took home the gold, the first time a Latin American country won the basketball honor.



    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="http://www.charlotte49ers.com/SportSelect.dbml?SPID=44799">UNCC Basketball Website</a>

    </tr>

</table>

<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplAttendingCount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="SportEvents" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
    }
</table>