@model IEnumerable<SportsFinder.Models.SportEvent>
<h1>Cricket</h1>

<table>

    <tr>
             <img src="~/images/cricket-ball-facebook-cover-timeline-banner-for-fb.jpg" alt="Package Management" class="img-responsive" />
     </tr>

    <tr>

        <br />
        <br />
        The origins of cricket lie somewhere in the Dark Ages - probably after the Roman Empire, almost certainly before the Normans invaded England, and almost certainly somewhere in Northern Europe. All research concedes that the game derived from a very old, widespread and uncomplicated pastime by which one player served up an object, be it a small piece of wood or a ball, and another hit it with a suitably fashioned club.
        <br />

        How and when this club-ball game developed into one where the hitter defended a target against the thrower is simply not known. Nor is there any evidence as to when points were awarded dependent upon how far the hitter was able to despatch the missile; nor when helpers joined the two-player contest, thus beginning the evolution into a team game; nor when the defining concept of placing wickets at either end of the pitch was adopted.
        <br />

        Etymological scholarship has variously placed the game in the Celtic, Scandinavian, Anglo-Saxon, Dutch and Norman-French traditions; sociological historians have variously attributed its mediaeval development to high-born country landowners, emigré Flemish cloth-workers, shepherds on the close-cropped downland of south-east England and the close-knit communities of iron- and glass-workers deep in the Kentish Weald. Most of these theories have a solid academic basis, but none is backed with enough evidence to establish a watertight case. The research goes on.
        <br />

        What is agreed is that by Tudor times cricket had evolved far enough from club-ball to be recognisable as the game played today; that it was well established in many parts of Kent, Sussex and Surrey; that within a few years it had become a feature of leisure time at a significant number of schools; and - a sure sign of the wide acceptance of any game - that it had become popular enough among young men to earn the disapproval of local magistrates.
        <br />

    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="https://orgsync.com/75858/chapter">Uncc Cricket Website</a>

    </tr>
        
</table>


<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplAttendingCount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="SportEvents" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
    }
</table>