@model IEnumerable<SportsFinder.Models.SportEvent>
<h1>Hockey</h1>

 
<table>

    <tr>
             <img src="~/images/Home-Page-Banner1.jpg" alt="Package Management" class="img-responsive" />
     </tr>

    <tr>

        <br />
        <br />
        Ball-and-stick games are almost as old as civilization itself. Its earliest origins may be from Persia, Egypt or China, while archaeological evidence shows an early ball-and-stick game played in Greece in the 400s BCE. As civilization spread, so did the games. And eventually, as the civilized world went north, ball-and-stick moved onto the ice. Paintings in the Netherlands in the 1600s showed the Dutch playing a version of golf on the ice; Scotland’s Edinburgh Skating Club, formed in 1642, is considered the oldest in the world, and records from Ireland’s Dublin Evening Post have a report of men playing hurling on ice. When the Europeans made their way across the Atlantic to North America, they discovered Native Americans had their own games, the forerunners of lacrosse, and some Native Americans in South Dakota essentially played lacrosse on ice. The modern idea of field hockey sprouted out of these traditions, and the modern sport of ice hockey was relegated primarily to small towns, and in no organized setting, until the late 1800s.
        <br />

        In 1872, a young man from Halifax, Nova Scotia named James Creighton moved to Montreal, bringing the sport of ice hockey (hereafter referred to just as “hockey”) with him – more particularly, bringing with him hockey sticks and skates. The skates, which were patented by a Nova Scotia company in 1866, featured rounded blades held onto boots by metal clamps (the first time that had ever been done and not too different from modern skates). After introducing the game to his friends, Creighton, in 1875, organized a group of players to practice the sport indoors at the Victoria Skating Rink. The sport had never taken hold indoors, forced outdoors by the societal belief that ice hockey only belonged on ponds, due in large part to the danger of a ball flying around inside. Creighton solved the problem by creating a “flat, circular piece of wood,” the first hockey puck. After practicing for about a month, Creighton staged a public exhibition of the sport on March 3, 1875. While some praised the new sport, others decried the violence in the game.
        <br />


        The earliest games in the sport were not carbon copies of the current version; the Halifax Rules , which Creighton played under in the March 3rd game, said the puck couldn’t leave the ice, no forward passing was permitted and the goalie couldn’t fall down or kneel to make saves. As the sport’s popularity skyrocketed in Montreal in the late 1800s, the official rules of the sport were created, the Montreal Rules, in 1877. Injured players could now be replaced, team sizes were set at seven a side (down from eight) and the rink’s measurements were now made standard.
        <br />
    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="http://www.ninericehockey.com/">UNCC Ice Hockey Website</a>

    </tr>
</table>

<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplAttendingCount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="SportEvents" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
    }
</table>