<<<<<<< HEAD
﻿@model IEnumerable<SportsFinder.Models.SportEvent>

<h1>Mountain Biking Page</h1>
=======
﻿<h1>Mountain Biking</h1>
>>>>>>> master

<table>

    <tr>
             <img src="~/images/banner3.jpg" alt="Package Management" class="img-responsive" />
     </tr>

    <tr>

        <br />
        <br />

        The first successful high quality fat-tire bicycle was built in Marin County, California by Joe Breeze, who recognized a demand for such a bicycle while riding rocky trails of nearby Mt. Tamalpais with friends. They had used balloon-tire one-speed bicycles from the 1930s, 1940s and 1950s (Schwinn Excelsior) with coaster brakes. In that pursuit, one of these trails got the name "Repack" because one descent was enough to overheat the hub brake, requiring it to be re-packed. These Mt. Tamalpais downhill bikes were referred to as "my mountain bike" in contrast to "my road bike" without giving the term generic significance. This seems also to have been the case with riders in the Santa Barbara area where fat-tired bikes were also used to descend trails, according to Joe Breeze.
        <br />

        Joe Breeze, Otis Guy, and Gary Fisher, all still in the bike business, were top category USCF riders. Many of the Tamalpais riders were members of road racing Velo Club Tamalpais, whose blue and gold jersey carried the mountain logo. In October of 1977, Joe built a fat-tire bike of lightweight tubing that was previously found only on better road bikes, which he was also building at the time. It had all new, high-quality parts and 26" x 2.125" Uniroyal "Knobby" tires on Schwinn S2 rims and Phil Wood hubs. Joe built ten of these first Breezers by June 1978. Breezer #1 has been on display at various places, including the Oakland Museum, where it has been on permanent display since 1985.
        <br />

        However the first Breezer was predated by a frame built for Charlie Kelly by Craig Mitchell earlier in 1977. Like the Breezer frames that followed, it was made of 4130 chrome-molybdenum airframe tubing. Kelly equipped it with the parts from his Schwinn Excelsior. These parts included SunTour derailleurs and thumbshifters, TA aluminum cranks, Union drum brake hubs, motorcycle brake levers, Brooks B-72 saddle, Schwinn S-2 rims and UniRoyal Knobby tires (essentially, the best parts found on clunkers of that day). In spite of this, Charlie chose to switch back to his Schwinn frame, which he rode until June of 1978, when he got himself a Breezer, and for one reason or another the Mitchell frame was not further developed.
        <br />

        In January 1979, Joe and Otis, who were planning another transcontinental tandem record attempt, visited Tom Ritchey, who was building their frame, and brought along Joe's Breezer mountain bike. Peter Johnson, another noted frame builder who happened to be present, was immediately impressed with its features, as was Tom, who sensed the significance of the concept, being a veteran road-bike trail rider in the Santa Cruz mountains. Gary Fisher got wind of Tom's interest in fat tire bikes and asked Tom to build him one. Tom built one for himself, one for Gary, and one for Gary to sell.
        <br />

        After building nine more frames later in 1979, Tom couldn't find buyers for them in nearby Palo Alto, so he asked Fisher to sell them in Marin County. Fisher and Charlie Kelly pooled a few hundred dollars and started "MountainBikes" which became Gary Fisher Bicycles as the first exclusively mountain-bike business. It was Tom's bikes, and Fisher and Kelly's business, that made the introduction of the mountain bike take hold. There was an obvious gap in the market, with most frame builders focusing on road bikes, leaving this a field open for innovation.
        <br />

        Fisher and Kelly tried to trademark the name Mountainbike, but through procedural or definition errors, the application was finally rejected. Meanwhile in the 1980's Bicycling magazine had a "name that bike" contest that excluded the name "Mountainbike", which was before the trademark board at the time. ATB was the winner but it didn't hold ground against the more natural "Mountain Bike" (aka MTB) name that spread rapidly after the trademark application failed.
        <br />

        If anyone's name stands out as the builder of the earliest viable mountain bike, it is Joe Breeze, who today produces Breezers. The marketing push that first got the MTB rolling came from Tom Ritchey, Gary Fisher, and Charlie Kelly. At first the USCF felt it below their dignity, as did the UCI, to include these bicycles, but after NORBA (National Off Road Bicycle Association) racers began to outnumber USCF racers, they relented and absorbed these upstarts, as they certainly would recumbents if they had similar public appeal.

    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="https://ui.uncc.edu/story/carolina-thread-trail-charlotte-greenway">UNCC Mountain Bike Website</a>

    </tr>
</table>


<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplAttendingCount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="SportEvents" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
    }
</table>