@model IEnumerable<SportsFinder.Models.SportEvent>
<h1>Skateboarding</h1>

<table>

    <tr>
             <img src="~/images/banner9.jpg" alt="Package Management" class="img-responsive" />
     </tr>

    <tr>

        <br />
        <br />
        1958: The skateboard is made from roller skates attached to a board. This is really where it all starts. As surfing becomes more popular, skating becomes a way to surf when there are no waves—"sidewalk surfing."


        <br />

        1959: "Roller Derby" mass produces a skateboard with metal wheels.
        <br />

        1963-66: Surfboard companies like Makaha and Hobie start making better-quality skateboards with clay wheels and trucks that are made for skating. The first skate contest is put on in Hermosa Beach, California, in 1963.
        <br />

        In 1964, the musical group Jan and Dean appear on Dick Clark's American Bandstand and sing "Sidewalk Surfing." Dean does a few simple tricks and rides the board across the stage.
        <br />

        Around this time, Surfer Magazine puts out a quarterly magazine called Skateboarder. Only four issues are printed. This same year, ABC Wide World of Sports broadcasts the Skateboarding Championships.
        <br />

        1973: With the invention of urethane wheels, new possibilities emerge. What once was a noisy, bumpy ride is now smooth and silent. Banks and ditches become skateable, as these new wheels can grip the concrete. Surfers like Larry Bertlemann inspire a new and radical form of skating, as surfing begins to turn toward a shorter board with more fluid moves. From this point on, skating will never be the same.
        <br />

        1973-75: Fiberglass boards made by surf shops out of fin material become popular with the surf crowd. Companies experiment making skateboard decks, using everything from wood to aluminum. The first full-length skate movie, Spinnin' Wheels, is released.
        <br />

        1976-78: The California drought forces homeowners to drain their pools. Though skaters have been riding swimming pools since the introduction of urethane wheels the previous year, they now view the empty pools as territory to be conquered. New tricks are invented daily—aerials, inverts, and the ollie. Many concrete parks are also being built, and the first professional skaters begin to receive notice. However, many skate parks are forced to close because of low attendance and high insurance rates.
        <br />

        1980s: Street skating turns handrails and walls into free skate parks. Skater-owned companies become more and more common.
        <br />

        1990s: Skateboarding takes a giant step into the mainstream with the 1995 ESPN's Extreme Games, becoming more of a spectator sport. By the late 90s, skating appears in commercials for everything from soft drinks to phone companies. Fashion trends begin to reflect the influence of the skating crowd.
        <br />

        2000: Skating can now be enjoyed by children as young as two, but the majority of skaters range from early teens to twenties. Many cities have built high quality skate parks, and a number of camps and lessons are available to young people. Some families even enjoy skating as a family activity.
        <br />

        2006: This brings us to today. Scholastic News Online launches a special report dedicated to skateboarding—"Kids On Board."
        <br />

        Now that you know about the history of skateboarding, it's time to grab your board and get out there.
        <br />

        Happy—and Safe—Skating!
        <br />
    </tr>

    <tr>
        <br />
        <br />
        <a class="btn btn-primary" href="http://charlotteskate.com/">UNCC SkateBoarding Website</a>

    </tr>
</table>

<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplAttendingCount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="SportEvents" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
    }
</table>