@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
    ApplicationUser CurrUser = (ApplicationUser)ViewData["CurrentUser"];
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="ChangePassword">Change</a>&nbsp;&nbsp;]</text>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => CurrUser.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => CurrUser.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => CurrUser.FavoriteSports)
        </dt>        
        @{
            if (CurrUser.FavoriteSports != null)
            {
                string sportsString = CurrUser.FavoriteSports;
                string[] sports = sportsString.Split('|');

                foreach (var item in sports)
                {
                    if (!item.Equals(""))
                    {
                    <dd>
                        @(item)
                    </dd>
                        }
                    }
                }
            }
    </dl>
</div>
