@model SportsFinder.Models.SportEvent

@{
    ViewData["Title"] = "Details";
    int SportEventId = Model.ID;
}

<h2>Details</h2>

@{ 
    string Equipment = Model.EquipmentList;
    string[] EquipArray = Equipment.Split(',');
    string RsvpList = Model.RSVPList;
    string[] RsvpArr = null;
    if (RsvpList != null)
    {
        RsvpArr = RsvpList.Split('|');
    }

}

<div>
    <h4>SportEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </dt>
        <dd>
            <div class="checkbox" id="equipment-list" style="float: left">
                @foreach (string item in EquipArray)
                {
                    <div>
                        <label><input type="checkbox" value="@(item)" id="@(item)-id"/>@(item)</label>
                    </div>
                }
            </div>
            <div style="margin-top: 30px; margin-left: 20%">
                <a class="btn btn-primary" id="commit-equipment-change">Bring Equipment</a>
                <p id="information-tag"></p>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventSport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventSport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTentative)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTentative)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxPeopleAllowed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </dt>
        <dd id="pplAttending">
            @Html.DisplayFor(model => model.PplAttendingCount)
        </dd>
    </dl>
</div>

<div class="container" style="">
    <div id="map-canvas" style="width: 600px; height: 400px; float: left"></div>
    <div>

        <h5>@Html.DisplayNameFor(model => model.RSVPList)</h5>
        <ul class="list-group" id="equipment-list" style="float: left">
            @{
                if (RsvpArr != null)
                {
                    foreach (string item in RsvpArr)
                    {
                        if (!item.Equals(""))
                        {
                            <li class="list-group-item">@(item)</li>
                        }
                    }
                }
            }
            
        </ul>
    </div>
</div>

<div class="form-actions no-color" style="margin-top: 20px">
    <a asp-action="Index" class="btn btn-primary">Back to List</a> |
    @{
        if (RsvpArr != null)
        {
            bool found = false;
            foreach (var item in RsvpArr)
            {
                if (item == User.Identity.Name)
                {
                    found = true;
                }
            }
            if (!found)
            {
                <button onclick="getRSVP()" id="favorites-submit-button" class="btn btn-success">RSVP!</button>
            }
            else
            {
                <button disabled onclick="getRSVP()" id="favorites-submit-button" class="btn btn-success">Already RSVP'd</button>
            }
        }
        else
        {
            <button onclick="getRSVP()" id="favorites-submit-button" class="btn btn-success">RSVP!</button>
        }
    }
        
    <div id="rsvpUpdateDiv"></div>
</div>

<!-- begin htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="http://www.htmlcommentbox.com/static/skins/default/skin.css" />
<script type="text/javascript" language="javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={  };} (function(){s=document.createElement("script");s.setAttribute("type","text/javascript");s.setAttribute("src", "http://www.htmlcommentbox.com/jread?page="+escape((window.hcb_user && hcb_user.PAGE)||(""+window.location)).replace("+","%2B")+"&opts=470&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end htmlcommentbox.com -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG8diNyE5CdFVLOvf9u7NlVoi6aEk8SH8"></script>
<script type="text/javascript">

    var googleMap;
    var modelLat;
    var modelLng;
    var eventTitle;

    modelLat = '@(Model.Latitude)';
    modelLng = '@(Model.Longitude)';
    title = '@(Model.EventSport)';

    function initialize() {

        var location = {
            lat: parseFloat(modelLat),
            lng: parseFloat(modelLng)
        };

        var mapOptions = {
            zoom: 12,
            center: location,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        googleMap = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: location,
            map: googleMap,
            title: eventTitle
        });

        var placeRequest = {
            location: location
        };

        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow;

        getAddress(geocoder, googleMap, infowindow, location, marker);
    }

    function getAddress(geocoder, googleMap, infowindow, location, marker) {
        geocoder.geocode({ 'location': location }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    console.log('address => ' + results[0].formatted_address);
                    infowindow.setContent(results[0].formatted_address);
                    infowindow.open(googleMap, marker);
                }
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<script>

    window.addEventListener('load', function () {

        console.log('@(Equipment)');

        var equipArr = [];
        var checkboxArr = [];
        var currUsr;
        currUsr = '@(User.Identity.Name)';
        var broughtEquip = '@(Model.EquipmentBeingBroughtList)';
        var broughtEquipSplit = broughtEquip.split('|');

        for (var i = 0; i < broughtEquipSplit.length; i++) {
            if (broughtEquipSplit[i] !== '') {
                var equip = broughtEquipSplit[i].split(':');
                var checkBoxItem = document.getElementById(equip[0] + '-id');
                checkBoxItem.checked = true;
                checkBoxItem.disabled = true;
            }
        }

        // IE does not know about the target attribute. It looks for srcElement
        // This function will get the event target in a browser-compatible way
        function getEventTarget(e) {
            e = e || window.event;
            return e.target || e.srcElement;
        }

        var equipList = document.getElementById('equipment-list');
        equipList.onclick = function (event) {
            event.preventDefault;
            var target = getEventTarget(event);            

            console.log("target.value ===> -" + target.innerHTML);
            
            if (target.checked) {
                equipArr.push(target.value + ':' + currUsr);
                checkboxArr.push(target);
            } else {
                var index = equipArr.indexOf(target.value + ':' + currUsr);
                var targetIndex = checkboxArr.indexOf(target);
                if (index > -1) {
                    equipArr.splice(index, 1);
                }
                if (targetIndex > -1) {
                    checkboxArr.splice(targetIndex, 1);
                }
            }

            console.log(equipArr);
            console.log(checkboxArr);
        };

        var bringEquipmentButton = document.getElementById('commit-equipment-change');
        bringEquipmentButton.onclick = function () {

            console.log(equipArr);
            console.log(JSON.stringify(equipArr));

            for (var i = 0; i < checkboxArr.length; i++) {
                checkboxArr[i].disabled = true;
            }

            // the key in this obj 'data' must match the same name as
            // the parameter accepted into the controller method 'UpdateEquipmentLIst'
            // in order to be mapped correctly
            var myContent = {
                'data': JSON.stringify(equipArr),
                'eventId': '@(SportEventId)'
            }

            $.ajax({
                url: '/SportEvents/UpdateEquipmentList',
                type: 'POST',
                dataType: 'json',
                data: myContent,
                success: function (mydata) {
                    $('#information-tag').html(mydata);
                    $('#pplAttending').data = 4;
                    history.pushState('', 'New URL:');
                }
            });
        }

    });
    

</script>
<script type="text/javascript">
    var userName = '@(User.Identity.Name)';
    function getRSVP() {

        var data = {
            'userName': userName,
            'eventId': '@(Model.ID)'
        }

        $.ajax({
            url: "/SportEvents/AddUserToRsvpList",
            type: "POST",
            dataType: "json",
            data: data,
            success: function (mydata) {
                $("#rsvpUpdateDiv").html(mydata);

                var attendingDD = document.getElementById('pplAttending');
                console.log(attendingDD);

                history.pushState('', "New URL:");
            }
        });
    }
</script>