@model IEnumerable<SportsFinder.Models.SportEvent>

@{
    ViewData["Title"] = "Events";
}

<h2>Sport Events</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Event</a>
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.EventSport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPeopleAllowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplAttendingCount)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventSport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTentative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPeopleAllowed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PplAttendingCount)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}    
</table>